<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Magic Events</title>
    <link
      rel="stylesheet"
      href="css/woocommerce-layout.css"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      href="css/woocommerce-smallscreen.css"
      type="text/css"
      media="only screen and (max-width: 768px)"
    />
    <link
      rel="stylesheet"
      href="css/woocommerce.css"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      href="css/font-awesome.min.css"
      type="text/css"
      media="all"
    />
    <link rel="stylesheet" href="style.css" type="text/css" media="all" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Oswald:400,500,700%7CRoboto:400,500,700%7CHerr+Von+Muellerhoff:400,500,700%7CQuattrocento+Sans:400,500,700"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      href="css/easy-responsive-shortcodes.css"
      type="text/css"
      media="all"
    />
    <script src="js/jquery.js"></script>
    <link
      rel="stylesheet"
      href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css"
    />
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  </head>
  <body
    class="home page page-template page-template-template-portfolio page-template-template-portfolio-php"
  >
    <div id="page">
      <div class="container">
        <header id="masthead" class="site-header">
          <div class="site-branding">
            <h1 class="site-title">
              <a href="index.html" rel="home">Magic Events</a>
            </h1>
          </div>
        </header>
        <!-- #masthead -->
        <div id="content" class="site-content">
          <div id="primary" class="content-area column full">
            <main id="main" class="site-main">
              <!-- .grid -->
              <br />
            </main>
            <!-- #main -->
          </div>
          <!-- #primary -->
        </div>
        <!-- #content -->
      </div>
      <!-- .container -->
      <a href="#top" class="smoothup" title="Back to top"
        ><span class="genericon genericon-collapse"></span
      ></a>
      <div id="dialog"></div>

      <form id="follow_form" action="/api/bookings/" method="post">
        <input type="text" id="follow_event_id" name="follow_event_id" hidden />
        First name:
        <input type="text" id="username" />
        <br />
        Last name:
        <input type="text" id="surname" />
        <br />
        Email:
        <input type="email" id="email" />
        <br />
        <input type="submit" value="Submit" />
      </form>

      <form id="unfollow_form" action="/api/bookings/" method="put">
        {% csrf_token %}
        <input
          type="text"
          id="unfollow_event_id"
          name="unfollow_event_id"
          hidden
        />
        Reservation code:
        <input type="text" id="r_code" />
        <br />
        <input type="submit" value="Submit" />
      </form>
    </div>
    <!-- #page -->
    <script src="js/masonry.pkgd.min.js"></script>
    <script>
      function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== "") {
          const cookies = document.cookie.split(";");
          for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === name + "=") {
              cookieValue = decodeURIComponent(
                cookie.substring(name.length + 1)
              );
              break;
            }
          }
        }
        return cookieValue;
      }

      function follow_event(idx) {
        $("#follow_event_id").val(idx);
        $("#follow_form").dialog({
          appendTo: "#dialog",
          title: "Follow event",
        });
      }

      function unfollow_event(ds, de, idx) {
        const date_start = new Date(ds);
        const date_end = new Date(de);
        const date_now = new Date();
        const diffTime = Math.abs(date_end - date_start);
        const diffTimeNow = Math.abs(date_start - date_now);
        const diffDays = Math.ceil(diffTime / (1000 * 60 * 60 * 24));
        const diffDaysNow = Math.ceil(diffTimeNow / (1000 * 60 * 60 * 24));
        if (diffDays > 2) {
          alert("Unfollow events longer than two days is not allowed!");
          return;
        }
        if (diffDaysNow < 2) {
          alert(
            "Unfollow events later than two days before the start date is not allowed!"
          );
          return;
        }
        $("#unfollow_event_id").val(idx);
        $("#unfollow_form").dialog({
          appendTo: "#dialog",
          title: "Unfollow event",
        });
      }

      $("#follow_form").submit(function (e) {
        e.preventDefault(); // avoid to execute the actual submit of the form.
        const csrftoken = getCookie("csrftoken");
        var form = $(this);
        var actionUrl = form.attr("action");
        var f_data = {
          event_id: $("#follow_event_id").val(),
          username: $("#username").val(),
          surname: $("#surname").val(),
          email: $("#email").val(),
        };
        $.ajax({
          type: "POST",
          headers: { "X-CSRFToken": csrftoken },
          url: actionUrl,
          data: f_data, // serializes the form's elements.
          success: function (data) {
            alert(`Your reservation code: ${data.id}`);
          },
        });
      });

      $("#unfollow_form").submit(function (e) {
        e.preventDefault(); // avoid to execute the actual submit of the form.
        const csrftoken = getCookie("csrftoken");
        var form = $(this);
        var actionUrl = form.attr("action");
        var f_data = {
          event_id: $("#unfollow_event_id").val(),
          status: "cancelled",
        };

        $.ajax({
          type: "PATCH",
          headers: { "X-CSRFToken": csrftoken },
          url: actionUrl + $("#r_code").val() + "/",
          data: f_data, // serializes the form's elements.
          success: function (data) {
            alert(`Your booking is ${data.status}`); // show response from the php script.
          },
        });
      });

      $.getJSON("api/events/", function (data) {
        var items = [];
        $.each(data, function (key, val) {
          items.push(
            `<article class='hentry'><header class='entry-header'><h2 class='entry-title'>${val.name}</h2><a class='entry-thumbnail' onClick=follow_event('${val.id}') >Follow</a> | <a class='entry-thumbnail' onClick=unfollow_event('${val.start_date}','${val.end_date}','${val.id}') >Unfollow</a><div class='entry-thumbnail'>${val.thumbnail}</div><a class='portfoliotype'>${val.start_date}</a><a class='portfoliotype'>${val.end_date}</a></header></article>`
          );
        });

        $("<div/>", {
          class: "grid portfoliogrid",
          html: items.join(""),
        }).appendTo("main");
      });
    </script>
  </body>
</html>
